ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid silver;
    margin: 5px;
    width: 300px;
    min-height: 20px;
    flex-grow: 2;
}